<div class="bc-flex bc-direction-column bc-align-items-center">
  <div class="bc-container">
    <h2>Crear Tarea</h2>
    <div class="bc-row">
      <div class="bc-col-xl-9">
        <div class="bc-form-field">
          <form (ngSubmit)="formularioTareasSandbox.crearTarea()">
            <label for="id">Id:</label>
            <input class="bc-input" type="text" id="idTarea" [(ngModel)]="formularioTareasSandbox.nuevaTarea.id" [ngModelOptions]="{standalone: true}">
            <br>
            <label for="titulo">Título:</label>
            <input class="bc-input" type="text" id="titulo" [(ngModel)]="formularioTareasSandbox.nuevaTarea.titulo" [ngModelOptions]="{standalone: true}">
            <br>
            <label for="descripcion">Descripción:</label>
            <input class="bc-input" type="text" id="descripcion" [(ngModel)]="formularioTareasSandbox.nuevaTarea.descripcion" [ngModelOptions]="{standalone: true}">
          <br>
            <label for="estado">Estado:</label>
            <input class="bc-input" type="text" id="estado" [(ngModel)]="formularioTareasSandbox.nuevaTarea.estado" [ngModelOptions]="{standalone: true}">
          <br>
            <button class="bc-button-primary bc-button" type="submit">Crear</button>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>
